body{
    background: rgb(139, 146, 114);
    background: linear-gradient(90deg, rgb(35,64,75) 35%, rgb(34,64,75)75% );
    
   }
  
  .card-header{
    background-color: rgb(0,0,0);
    color: white;
    text-transform: uppercase;
  } 

  .card{
     background: rgb(254,175,210);
     background: radial-gradient(circle, rgb(183,173,144) 20%, rgb(253, 199, 129) 70%); 
  }

  .card-text{
    text-align: center;
    font-size: 18px;
  }
  
  img{
    border: 1px solid white;
  
  }